.info {
    display: flex;
    align-items: center;
    margin-top: 30px;

    &__content {
        align-items: center;
    }

    &__title {
        @include text-replacement;
        background-image: url('../images/logo@2x.png');
        background-size: 100% 100%;

        @include responds-to(small) { @include size(240px 145px); }
        @include responds-to(normal) { @include size(480px 290px); }
    }

    &__date {
        @include font('22fest', #FFF, 86);
        text-align: center;

        display: inline-block;
        margin-top: 30px;

        @include responds-to(small) { font-size: rem(46); }
        @include responds-to(normal) { font-size: rem(82); }
    }

    &__location {
        @include font('22fest', #FFF, 56);
        text-align: center;

        display: inline-block;
        margin-top: 10px;

        @include responds-to(small) { font-size: rem(28); }
        @include responds-to(normal) { font-size: rem(56); }
    }

    &__button-container {
        margin-top: 30px;
        display: flex;

        @include responds-to(small) {
            flex-direction: column;
            .primary-button:last-child { margin-top: 3px; }
        }

        @include responds-to(normal) {
            flex-direction: row;
            .primary-button:last-child { margin-left: 3px; }
        }
    }
}
