.benefits {
    padding: 0 20px;

    @media (--small) {
        display: none;
    }

    &__content {
        display: flex;
        flex-direction: column;

        margin: -125px auto 0 auto;
        width: 100%;
        max-width: 960px;
    }

    &__screenshot {
        position: relative;

        &:after {
            display: block;
            padding-bottom: 55%;
            content: '';
        }

        & > img {
            position: absolute;
            width: 100%;
            height: 100%;
        }
    }

    &__benefit-container {
        display: flex;
        margin-top: 74px;
        width: 100%;

        @media (--normal), (--wide) {
            flex-direction: column;
            align-items: center;
        }
    }
}

.benefit {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    max-width: 360px;

    @media (--normal), (--wide) {
        &:not(:first-child) {
            margin-top: 40px;
        }
    }

    @media (--wider), (--widest) {
        padding: 0 20px;
    }

    &__title {
        @mixin small-header;
        margin-top: 5px;
        text-align: center;
        order: 2;
    }

    &__description {
        @mixin default-body-text;
        margin-top: 20px;
        text-align: center;
        order: 3;
    }

    &__icon {
        size: 50px 50px;
        fill: var(--defaultIconColor);
        order: 1;
    }
}

.benefit-bullet {
    size: 20px 20px;

    border: 1px solid var(--highlightColorGreen);
    border-radius: 50%;
    cursor: pointer;

    &--instant-transfer {
        position: absolute 10% auto auto 8%;
    }

    &--hedge-recognizes {
        position: absolute 56.5% auto auto 44%;
    }

    &--multiple-destinations {
        position: absolute 32% 9% auto auto;
    }

    &:before {
        position: absolute;
        size: 20px 20px;
        margin: -1px 0 0 -1px;

        background-color: color(#fff alpha(10%));
        border: 1px solid #fff;
        border-radius: 50%;
        content: '';

        animation: pulse-bullet-animation 2s infinite;
        opacity: 0.75;
    }

    &--instant-transfer:before {
        animation-delay: 0;
    }

    &--hedge-recognizes:before {
        animation-delay: 500ms;
    }

    &--multiple-destinations:before {
        animation-delay: 1000ms;
    }

    &__label {
        position: absolute;
        padding: 10px 15px;
        width: 225px;

        @mixin font var(--whitney), #1a1c21, 1.6rem;
        line-height: 2.2rem;
        background-color: #fff;

        transition: opacity 200ms;
        visibility: hidden;
        opacity: 0;

        &:after {
            position: absolute;
            size: 0 0;
        	border: solid transparent;
        	content: '';
        }

        &--top-left {
            bottom: 10px; right: 10px;
            border-radius: 2px;
        }

        &--top-right {
            bottom: 10px; left: 10px;
            border-radius: 2px;
        }

        &--bottom-right {
            top: 10px; left: 10px;
            border-radius: 2px;

        }

        &--bottom-left {
            top: 10px; right: 10px;
            border-radius: 2px;
        }
    }

    @nest &:hover &__label {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes pulse-bullet-animation {
    50%, 100% {
        width: 100px; height: 100px;
        margin: -41px 0 0 -41px;
        opacity: 0;
    }
}
