.case {
    &__header {
        width: 100%;
        max-width: 960px;

        margin: 0 auto;
        padding: 125px 20px 80px 20px;
        border-top: 1px solid var(--defaultStrokeColor);
    }

    &__title {
        @mixin default-header;
        text-align: center;
    }

    &__description {
        @mixin default-body-text;
        margin: 24px auto 0 auto;

        width: 100%;
        max-width: 640px;
        text-align: center;
    }

    &__testimonal-container {
        display: flex;

        @media (--normal), (--wide) {
            flex-direction: column;
        }
    }
}

.testimonial {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    width: 100%;
    padding: 25px;

    background-color: var(--defaultPlaceholderColor);
    background-size: cover;

    @media (--normal), (--wide) {
        height: 325px;
        background-position: center 25%;
    }

    @media (--wider), (--widest) {
        height: 625px;
        background-position: center;
    }

    &__title {
        @mixin font var(--whitney), var(--defaultHeaderColor), 1.7rem, 100;
        text-align: center;
        line-height: 2.4rem;
    }

    &__description {
        @mixin default-body-text;
        margin-top: 10px;
        text-align: center;

        width: 100%;
        max-width: 360px;
    }

    &--mark {
        background-image: linear-gradient(color(var(--backgroundColor) alpha(0)) 50%, var(--backgroundColor)), url('../images/case__photo-01.jpg');
    }

    &--ties {
        background-image: linear-gradient(color(var(--backgroundColor) alpha(0)), var(--backgroundColor)), url('../images/case__photo-02.jpg');
    }

    &--niek {
        background-image: linear-gradient(color(var(--backgroundColor) alpha(0)), var(--backgroundColor)), url('../images/case__photo-03.jpg');
    }
}
