.features {
    &__content {
        margin: 0 auto;
        padding: 142px 0;

        width: 100%;
        max-width: 960px;
    }

    &__header {
        padding-bottom: 13px;
        border-bottom: 1px solid var(--defaultStrokeColor);
    }

    &__title {
        @mixin font var(--whitney), var(--dimmedHeaderColor), 1.7rem;
        text-align: center;
        font-style: italic;
    }

    &__container {
        display: flex;
        flex-direction: column;
        margin-top: 115px;
    }
}

.feature {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 0 2px;

    &:not(:first-child) {
        margin-top: 112px;
    }

    &__content {
        width: 100%;
        max-width: 350px;
    }

    &__title {
        @mixin small-header;
    }

    &__description {
        @mixin default-body-text;
        margin-top: 20px;
        line-height: 2.4rem;
    }
}
