.features {
    padding: 0 20px;

    &__content {
        margin: 0 auto;
        padding: 142px 0;

        width: 100%;
        max-width: 960px;
    }

    &__header {
        padding-bottom: 13px;
        border-bottom: 1px solid var(--defaultStrokeColor);
    }

    &__title {
        @mixin font var(--whitney), var(--dimmedHeaderColor), 1.7rem;
        text-align: center;
        font-style: italic;
    }

    &__container {
        display: flex;
        flex-direction: column;
        margin-top: 115px;
    }
}

.feature {
    display: flex;
    align-items: center;

    @media (--normal), (--wide) {
        flex-direction: column;
    }

    @media (--wider), (--widest) {
        justify-content: space-between;
        padding: 0 2px;
    }

    &:not(:first-child) {
        margin-top: 112px;
    }

    &__content {
        width: 100%;
        max-width: 360px;

        @media (--normal), (--wide) {
            margin-top: 50px;
            order: 2;
        }

        @media (--wider), (--widest) {
            padding-right: 20px;
        }
    }

    &__title {
        @mixin small-header;

        @media (--normal), (--wide) {
            text-align: center;
        }
    }

    &__description {
        @mixin default-body-text;
        margin-top: 20px;
        line-height: 2.4rem;

        @media (--normal), (--wide) {
            text-align: center;
        }
    }

    &__animation {
        flex: 0 0 auto;

        @media (--normal), (--wide) {
            order: 1;

            & img {
                width: 100%;
            }
        }
    }
}
