.footer {
    display: flex;
    position: relative;

    @media (--small) {
        margin-top: -277px;
        padding: 0 10px 34px 10px;
    }

    @media (--normal), (--wide), (--wider) {
        margin-top: -102px;
        padding: 0 75px 34px 75px;
    }

    @media (--small), (--normal), (--wide), (--wider) {
        flex-direction: column;
        align-items: center;
    }

    @media (--widest) {
        justify-content: space-between;
        margin-top: -75px;
        padding: 0 75px 34px 75px;
    }

    &__items {
        display: flex;
        align-items: center;
        flex: 0 0 auto;

        @media (--small) { flex-direction: column; margin-top: 33px; }
        @media (--normal), (--wide), (--wider) { order: 1; }
        @media (--widest) { order: 2; }
    }

    &__item {
        @mixin font var(--whitney), var(--defaultBodyColor), 1.5rem;
        flex: 0 0 auto;

        &:not(:first-child) {
            @media (--small) { margin-top: 13px; }
            @media (--normal), (--wide), (--wider), (--widest) { margin-left: 23px; }
        }
    }

    &__link {
        text-decoration: none;
        color: inherit;
        transition: color 200ms;

        &:hover {
            transition: none;
            color: #fff;
        }
    }
}

.footer__newsletter-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 0 0 auto;

    @media (--normal), (--wide), (--wider) {
        margin-top: 10px;
        order: 2;
    }

    @media (--widest) {
        /*display: block;*/
        order: 1;
    }

    & .newsletter-form__label--email {
        font-size: 1.5rem;

        @media (--small) {
            display: block;
            text-align: center;
        }
    }

    & .newsletter-form__input--email {
        margin-left: 13px;
        width: 250px;

        @media (--small) {
            margin-top: 15px;
        }
    }
}
