.header {
    position: relative;
    background-image: linear-gradient(var(--backgroundColor2), var(--backgroundColor));

    @media (--normal), (--wide), (--wider), (--widest) {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 100vh;
        min-height: 640px;
    }

    &__content {
        width: 100%;
        max-width: 640px;

        @media (--small) { padding: 75px 10px; }
        @media (--normal), (--wide), (--wider), (--widest) { padding: 0 20px 62px 20px; }
    }

    &__home-link {
        display: flex;
        align-items: center;
        text-decoration: none;

        @media (--small) {
            flex-direction: column;
        }

        @media (--normal), (--wide), (--wider), (--widest) {
            position: fixed;
            top: 20px; left: 71px;
            z-index: var(--homeLinkIndex);

            @nest body.has-notification & { position: absolute; }
            @nest body.has-notification &--fixed { position: fixed; }
        }
    }

    &__logo {
        order: 1;

        & img {
            width: 100%;
            height: auto;

            @media (--small) { max-width: 90px; }
            @media (--normal), (--wide), (--wider), (--widest) { width: 47px; }
        }
    }

    &__title {
        @mixin font var(--whitney), var(--defaultHeaderColor), 1.7rem, 100;
        text-align: center;
        order: 2;

        @media (--small) { margin-top: 12px; }
        @media (--normal), (--wide), (--wider), (--widest) { margin-left: 16px; }
    }

    &__subtitle {
        @mixin default-header;
        text-align: center;

        @media (--small) {
            margin-top: 54px;
        }
    }

    &__description {
        @mixin default-body-text;
        margin-top: 22px;
        text-align: center;
    }

    &__button-group {
        @media (--small) {
            display: none;
        }

        @media (--normal), (--wide), (--wider), (--widest) {
            display: flex;
            justify-content: center;
            margin-top: 55px;
        }
    }
}

.header__newsletter-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 55px;

    & .newsletter-form__label--email {
        text-align: center;
        line-height: 2.2rem;
    }

    & .newsletter-form__label--email {
        color: var(--highlightColorGreen);
    }

    & .newsletter-form__input--email {
        margin-top: 14px;
        padding: 17px;
        min-width: 300px;
    }

    & .newsletter-form__input-icon--email {
        position: absolute;
        top: calc(50% - 5px);
        left: calc(100% + 15px);
        width: 20px;
        height: 20px;
        fill: var(--highlightColorGreen);
    }
}
