.navigation {
    display: flex;
    justify-content: flex-end;

    position: fixed;
    top: 0; left: 0;
    width: 100%;
    padding: 34px 75px;

    transition: background 300ms;
    z-index: var(--navigationIndex);

    &--activated {
        transition: background 900ms;
        background-color: color(var(--backgroundColor) alpha(100%));
    }

    @nest body.has-notification & {
        position: absolute;
        top: 70px;
    }

    @nest body.has-notification &--fixed {
        position: fixed;
        top: 0;
    }

    @media (--small) {
        display: none;
    }

    &__shortcuts {
        display: flex;
    }

    &__shortcut:not(:first-child) {
        margin-left: 28px;
    }

    @nest &__shortcut:not(&__shortcut--highlighted) {
        @media (--normal), (--wide) {
            display: none;
        }
    }

    &__shortcut--highlighted {
        display: none;
    }

    &__link {
        @mixin font var(--whitney), var(--defaultHeaderColor), 1.7rem, 100;
        text-decoration: none;
        transition: color 200ms;

        &:hover {
            color: var(--defaultBodyColor);
            transition: none;
        }

        &--download {
            color: var(--highlightColorGreen);
        }

        &--buy {
            color: var(--highlightColorBlue);
        }
    }
}
