.navigation {
    display: flex;
    justify-content: flex-end;

    position: fixed;
    left: 0;
    top: 0;

    width: 100%;
    padding: 34px 75px;
    z-index: var(--navigationIndex);

    &__shortcuts {
        display: flex;
        flex-direction: row;
    }

    &__shortcut:not(:first-child) {
        margin-left: 28px;
    }

    &__link {
        @mixin font var(--whitney), var(--headerTextColor), 1.7rem, 100;
        text-decoration: none;
        transition: color 200ms;

        &:hover {
            color: var(--bodyTextColor);
            transition: none;
        }

        &--download {
            color: var(--highlightColorGreen);
        }

        &--buy {
            color: var(--highlightColorBlue);
        }
    }
}
