.notification {
    display: none;
    width: 100%;
    padding: 25px 20px;

    background-color: white;
    transform: rotateZ(0);
    z-index: var(--notificationIndex);

    @nest body.has-notification & {
        display: block;
    }

    &__body-text {
        @mixin font var(--whitney), var(--lightBodyColor), 1.7rem;
        @mixin truncate-tail;

        display: none;
        line-height: 2rem;
        text-align: center;

        &--visible {
            display: block;
        }

        & a {
            color: var(--highlightColorBlue);
            transition: color 200ms;
            text-decoration: none;

            &:hover {
                transition: none;
                color: #000;
            }
        }
    }
}
