:root {
    --lightHeaderColor: #000;
    --lightBodyColor: #8891a7;
}

.pricing {
    background-color: #fff;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin: 0 auto;
        width: 100%;
        max-width: 960px;

        @media (--small) { padding: 58px 10px; }
        @media (--normal), (--wide), (--wider), (--widest) { padding: 128px 20px; }
    }

    &__title {
        @mixin font var(--whitney), var(--lightBodyColor), 1.7rem;
        @mixin antialiased;

        display: none;
        text-align: center;
    }

    &__description {
        @mixin antialiased;
        text-align: center;

        @media (--small) {
            @mixin font var(--whitney), var(--lightHeaderColor), 2.3rem, 100;

            margin-top: 23px;
            line-height: 3.2rem;
        }

        @media (--small), (--normal), (--wide), (--wider) {
            & .no-br {
                display: inline;
            }
        }

        @media (--normal), (--wide), (--wider), (--widest) {
            @mixin font var(--whitney), var(--lightHeaderColor), 3.0rem, 100;

            margin-top: 20px;
            line-height: 4.2rem;
        }
    }

    &__price-option-container {
        display: flex;
        justify-content: center;

        width: 100%;

        @media (--small), (--normal), (--wide) {
            flex-direction: column;
            align-items: center;
        }

        @media (--small) {
            margin-top: 43px;
        }

        @media (--normal), (--wide), (--wider), (--widest) {
            margin-top: 82px;
        }
    }
}

.price-option {
    width: 100%;
    max-width: 280px;

    &:not(:first-child) {
        @media (--small), (--normal), (--wide) {
            margin-top: 61px;
        }

        @media (--wider), (--widest) {
            margin-left: 40px;
        }
    }

    &__title {
        @mixin font var(--whitney), var(--lightHeaderColor), 1.7rem;
        text-align: center;

        padding-bottom: 12px;
        border-bottom: 2px solid;

        &--discount {
            @mixin antialiased;
            color: var(--lightBodyColor);
        }
    }

    &__pricing {
        @mixin font var(--whitney), var(--lightHeaderColor), 5.0rem, 100;
        display: block;
        text-align: center;
        line-height: 4.2rem;

        @media (--small) {
            padding: 33px 0 12px 0;
        }

        @media (--normal), (--wide), (--wider), (--widest) {
            padding: 43px 0 25px 0;
        }

        &--per-month {
            @mixin antialiased;
            display: block;
            color: var(--lightBodyColor);
            font-size: 1.7rem;
            font-weight: 400;
        }
    }

    &__description {
        @mixin font var(--whitney), var(--lightBodyColor), 1.7rem;
        @mixin antialiased;

        padding: 0 35px;
        line-height: 2.4rem;
        text-align: center;

        & em,
        & strong {
            font-style: italic;
        }
    }

    @nest &--trial &__title {
        color: var(--defaultBodyColor);
    }

    @nest &--per-month &__title {
        color: var(--highlightColorGreen);
    }

    @nest &--per-year &__title {
        color: var(--highlightColorBlue);
    }
}
