.reminder {
    position: relative;
    background-image: linear-gradient(var(--backgroundColor), var(--backgroundColor2));

    @media (--normal), (--wide), (--widest), (--wider) {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 100vh;
        min-height: 640px;
    }

    &__content {
        width: 100%;
        max-width: 640px;

        @media (--small) { padding: 51px 10px 334px 10px; }
        @media (--normal), (--wide), (--wider), (--widest) { padding: 0 20px; }
    }

    &__title {
        @mixin default-header;
        text-align: center;
        line-height: 6.0rem;
    }

    &__subtitle {
        @mixin default-body-text;
        margin-top: 22px;
        text-align: center;
    }

    &__button-group {
        @media (--small) {
            display: none;
        }

        @media (--normal), (--wide), (--wider), (--widest) {
            display: flex;
            justify-content: center;
            margin-top: 55px;
        }
    }

    &__buy-button {
        margin-left: 3px;
    }
}
