@import 'views/header';
@import 'views/footer';
@import 'views/info';
@import 'views/subscribe';

html {
    height: 100%;
	font-size: 62.5%;
}

body {
	background-color: #000;
    overflow-x: hidden;
}

main {
    position: relative;
    min-width: 320px;
    min-height: 100vh;
    z-index: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background-image: url('../images/poster.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &:before {
        @include position(absolute, 0px 0 0 0px);
        @include size(100% 100%);

        background-color: rgba(#000, 0.2);
        content: '';
        z-index: -1;
    }
}
