@import 'views/benefits';
@import 'views/case';
@import 'views/features';
@import 'views/footer';
@import 'views/header';
@import 'views/navigation';

html {
    height: 100%;
	font-size: 62.5%;
}

body {
    background-color: var(--backgroundColor);
    overflow-x: hidden;
}

main {
    opacity: 0.0;
    transition: opacity 500ms;

    @nest body.ready & {
        opacity: 1.0;
    }
}
