@import 'views/benefits';
@import 'views/case';
@import 'views/download-modal';
@import 'views/features';
@import 'views/footer';
@import 'views/header';
@import 'views/navigation';
@import 'views/notification';
@import 'views/pricing';
@import 'views/reminder';

html {
    height: 100%;
	font-size: 62.5%;
}

body.scrolling *, body.resizing * {
    pointer-events: none;
}

body.has-popup {
    overflow: hidden !important;
}

main {
    position: relative;
    opacity: 0.0;
    transition: opacity 500ms;
    overflow: hidden;

    @nest body.ready & {
        opacity: 1.0;
    }
}

.emoticon {
    font-family: var(--helvetica);
}
