button {
    background: none;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.primary-button {
    padding: 16px 53px 20px 53px;
    border: 1px solid;
    border-radius: 3px;
    transition: border 200ms;

    &--disabled {
        cursor: default;
    }

    &__label {
        @mixin antialiased;
        font-family: var(--whitney);
        font-size: 2.0rem;

        display: block;
        text-align: left;
        transition: color 200ms;
    }

    &--blue {
        border-color: var(--highlightColorBlue);
        color: var(--highlightColorBlue);
    }

    &--green {
        border-color: var(--highlightColorGreen);
        color: var(--highlightColorGreen);

    }

    @nest &:hover:not(&--disabled) {
        transition: none;
    }

    @nest &:hover:not(&--disabled) {
        color: var(--defaultBodyColor);
    }

    @nest &:hover:not(&--disabled) &__label {
        transition: none;
    }
}
