.form {
    &__label {
        @mixin font var(--whitney), var(--defaultBodyColor), 1.7rem;

        &--small {
            font-size: 1.5rem;
        }
    }

    &__input {
        padding: 10px;
        background: none;
        border-radius: 4px;
        outline: 0;

        transition: border 200ms;

        &::placeholder {
            color: color(var(--defaultBodyColor) alpha(50%));
            transition: color 200ms;
        }

        &--attention {
            animation: animate-attenation-input 500ms;
        }

        &:focus, &:hover {
            transition: none;
            border-color: var(--highlightColorGreen) !important;

            &::placeholder {
                transition: none;
            }
        }
    }

    @nest &--dark-color-scheme &__input {
        @mixin font var(--whitney), #fff, 1.7rem;
        @mixin antialiased;

        border: 1px solid #5c6272;

        &:focus, &:hover {
            &::placeholder {
                color: #fff;
            }
        }
    }

    @nest &--light-color-scheme &__input {
        @mixin font var(--whitney), #000, 1.7rem;
        @mixin antialiased;

        border: 1px solid #c3c8d3;

        &:focus, &:hover {
            &::placeholder {
                color: #000;
            }
        }
    }

    &__input-container {
        position: relative;
        overflow: visible;
    }

    &__input-icon {
        opacity: 0;
        transition: opacity 200ms;
    }

    @nest & input:valid + &__input-icon {
        opacity: 1;
    }

    &__submit-button {
        & .submit__icon {
            width: 15px;
            height: 15px;
            fill: var(--defaultIconColor);
            opacity: 0.25;
            transition: fill 200ms, opacity 200ms;
        }
    }

    @nest &--validated &__submit-button {
        & .submit__icon {
            fill: var(--highlightColorGreen);
            opacity: 1.0;
        }

        &:hover .submit__icon {
            fill: #fff;
        }
    }
}


@keyframes animate-attenation-input {
	0%, 100% {
		transform: translate3d(0, 0, 0);
	}

	20%, 60% {
    	transform: translate3d(-8px, 0, 0);
  	}

	40%, 80% {
    	transform: translate3d(8px, 0, 0);
	}
}
