{
    "development": {
        "debug": true,
        "baseUrl": "http://hedgeformac.dev"
    },

    "staging": {
        "debug": false,
        "baseUrl": "https://staging.hedgeformac.com"
    },

    "production": {
        "debug": false,
        "baseUrl": "https:/www.hedgeformac.com"
    }
}
